<div class="row content">
				<h2>Value of Money: Meaning, Measurement and Preparation of Index Numbers</h2>
				<img src="img/money.jpg">
				<p>The value of money, then, is the quantity of goods in general that will be exchanged for one unit of money. The value of money is its purchasing power, i.e., the quantity of goods and services it can purchase. What money can buy depends on the level of prices. When the price level rises, a unit of money can purchase less goods than before. Money is then said to have depreciated. Conversely, a fall in prices signifies that a unit of money can buy more than before. 
                    
                The “general level of prices” and the value of money are thus the same thing from two opposite angles. When the prices rise the value of money falls and vice versa. In other words, the value of money and the general price level are inversely proportion­s’ to each other. 
                <a href="https://www.economicsdiscussion.net/money/value-of-money-meaning-measurement-and-preparation-of-index-numbers/1863" target="_blank">https://www.economicsdiscussion.net/money/value-of-money-meaning-measurement-and-preparation-of-index-numbers/1863/</a></p>

				<hr>
				<h2>Genetically Modified Foods</h2>
				<img src="img/gmo.jpg">
				<p>The <a href="https://en.wikipedia.org/wiki/Genetically_modified_food" target="_blank">Genetically modified foods are foods produced from organisms that have had changes introduced into their DNA using the methods of genetic engineering as opposed to traditional cross breeding.[28][29] In the U.S., the Department of Agriculture (USDA) and the Food and Drug Administration (FDA) favor the use of the term genetic engineering over genetic modification as being more precise; the USDA defines genetic modification to include "genetic engineering or other more traditional methods".

                According to the World Health Organization, "Foods produced from or using GM organisms are often referred to as GM foods."
                However, there are ongoing public concerns related to food safety, regulation, labelling, environmental impact, research methods, and the fact that some GM seeds, along with all new plant varieties, are subject to plant breeders' rights owned by corporations.    
                </p>

				<hr>
				<h2>5 ways the world will look dramatically different in 2100</h2>
				<img src="img/2100.jpg">
				<p>The world is expected to add another billion people within the next 15 years, bringing the total global population from 7.3 billion in mid-2015 to 8.5 billion in 2030, 9.7 billion in 2050, and 11.2 billion by 2100, according to new estimates from the UN.

                Currently, 60 percent of the global population lives in Asia, 16 percent in Africa, 10 percent in Europe, 9 percent in Latin America and the Caribbean, and only 5 percent in North America and Oceania. China and India are the largest countries in the world, together making up almost 40 percent of the world population.

                But those numbers won’t stay that way for long. The charts below, created by data scientist Tariq Khokhar for the World Bank data blog using the medium estimates of the UN figures, show our world is set to change in surprising ways.<br>Reference - <a href="https://www.washingtonpost.com/news/wonk/wp/2015/08/17/5-ways-the-world-will-look-dramatically-different-in-2100/">washingtonpost</a></p>
			</div>