<h2>Portfolio</h2>
			<div class="grid-container">
				<figure>
					<img src="img/portfolio/Money01.jpg">
					<figcaption>Value </figcaption>
				</figure>
				<figure>
					<img src="img/portfolio/money02.jpg">
					<figcaption>Transactions</figcaption>
				</figure>
				<figure>
					<img src="img/portfolio/GMO01.jpg">
					<figcaption>GMO 01</figcaption>
				</figure>
				<figure>
					<img src="img/portfolio/GMO02.jpg">
					<figcaption>GM 02</figcaption>
				</figure>
				<figure>
					<img src="img/portfolio/Future01.jpg">
					<figcaption>Future</figcaption>
				</figure>
				<figure>
					<img src="img/portfolio/Future02.jpg">
					<figcaption>Future of the World</figcaption>
				</figure>
			</div>